//
//
//
//
// Font/text  colours
//
//
//
//
.c-black { color: $c-black; }
.c-white { color: $c-white; }
// Greys
.c-grey { color: $c-grey; }
.c-grey-l { color: $c-grey-l; }
.c-grey-d { color: $c-grey-d; }
// Traffic lights
.c-green { color: $c-green; }
.c-green-l { color: $c-green-l; }
.c-green-d { color: $c-green-d; }
.c-amber { color: $c-amber; }
.c-amber-l { color: $c-amber-l; }
.c-amber-d { color: $c-amber-d; }
.c-red { color: $c-red; }
.c-red-l { color: $c-red-l; }
.c-red-d { color: $c-red-d; }
// Yellow
.c-yellow { color: $c-yellow; }
.c-yellow-l { color: $c-yellow-l; }
.c-yellow-d { color: $c-yellow-d; }


//
//
//
//
// Background  colours
//
//
//
//
.bgc-black { background: $c-black; }
.bgc-white { background: $c-white; }
// Greys
.bgc-grey { background: $c-grey; }
.bgc-grey-l { background: $c-grey-l; }
.bgc-grey-d { background: $c-grey-d; }
// Traffic lights
.bgc-green { background: $c-green; }
.bgc-green-l { background: $c-green-l; }
.bgc-green-d { background: $c-green-d; }
.bgc-amber { background: $c-amber; }
.bgc-amber-l { background: $c-amber-l; }
.bgc-amber-d { background: $c-amber-d; }
.bgc-red { background: $c-red; }
.bgc-red-l { background: $c-red-l; }
.bgc-red-d { background: $c-red-d; }
// Yellow
.bgc-yellow { background: $c-yellow; }
.bgc-yellow-l { background: $c-yellow-l; }
.bgc-yellow-d { background: $c-yellow-d; }