//
//
// HTML children and body
//
//
html * {
    padding: 0;
    margin:0;
    border: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    font-size: inherit;
    font-weight: inherit;
}


body {
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


main {
    line-height: $line-height;
    word-spacing: $word-spacing;
    letter-spacing: $letter-spacing;
}


h1,
h2,
h3 {
    line-height: 1;
    word-spacing: normal;
    letter-spacing: normal;
}


ul,
figure {
   margin-block-start: 0;
   margin-block-end: 0;
   margin-inline-start: 0;
   margin-inline-end: 0;
   padding-block-start:0;
   padding-block-end:0;
   padding-inline-start:0;
   padding-inline-end:0;
}


ol,
ul {
  list-style: none;
}


a {
    text-decoration: none;
    &:visited {
        color: initial;
    }
}


img,
video {
    max-width: 100%;
    height: auto;
    border-style: none;
}

button {
    cursor: pointer;
    text-transform: none;
    &:disabled {
        cursor: not-allowed;
    }
}



//
//
//
//
// Forms / Inputs
//
//
//
//
select { 
    text-transform: none;
}


textarea {
    min-height: 200px;
    resize:vertical;
}


input,
select,
// optgroup,
textarea {
    font-size: $fs-form;
}


input,
select,
textarea,
fieldset {
    &:disabled {
        cursor: not-allowed;
    }
}


input[type="checkbox"],
input[type="radio"]
{
    cursor: pointer;
}