//
//
//
//
// Other
//
//
//
//
.w-100pc {
    width: 100pc;
}

//
//
//
//
// Standard max-width loop
// 
//
//
//
$array: 5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 55, 60, 65, 66, 70, 75, 80, 85, 90, 95;


@for $i from 1 through length($array) {
    // output example: .mw-5pc { max-width: 5%; }
    $value: nth($array, $i); 
    // Check to correct 33 (to 33.33) and 66 (to 66.66)
    @if $value == 33 {
        .mw-#{$value}pc { max-width: 33.33%; }
    } @else if $value == 66 {
        .mw-#{$value}pc { max-width: 66.66%; }
    } @else {
        // Normal processing
        .mw-#{$value}pc { max-width: $value + $concatenate-percent; }
    }
}


//
//
//
//
// Responsive max-width loop
// 
//
//
//

$array: (25,25,50), (25,25,100),(25,50,50),(25,100,100),(25,50,100),(50,50,50),(50,50,100),(75,75,100),(75,100,100),(33,33,100),(33,100,100),(66,66,100),(66,100,100),(100,100,100);

@for $i from 1 through length($array) {
    $value: nth($array, $i);
    .mw-#{nth($value, 1)}-#{nth($value, 2)}-#{nth($value, 3)}pc {
        @include max-width-bps( nth($value, 1), nth($value, 2), nth($value, 3) );
    }
    // output example: .mw-5pc { max-width: 5%; }
}